@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    animation: float 6s infinite alternate;
}

section{
    width: 1500px;
}

nav{
    display: flex;
    align-items: center;
    background-color: white;
    position: fixed;
    min-width: 1500px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
    border-bottom: solid black 2px;
    align-items: center;
}

.logo{
    max-width: 150px;
}

.logo img{
    width: 100%;
}

nav ul{
    list-style: none;
    display: flex;
    padding-right: 10px;
    gap: 50px;
}

nav ul li{
    font-size: 24px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition: font-size 0.3s ease, box-shadow 0.3s ease;
    padding: 10px;
    border-radius: 10px;
}

nav ul li a:hover{
    transform: scale(1.1);
    font-size: 26px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}


.imagem{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    margin-top: 50px;
}

.imagem img{
    max-width: 1500px;
    padding-top: 50px;
}

.texto{
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-size: 18px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.texto p{
    text-align: left;
}